apiVersion: v1
kind: Secret
metadata:
  name: plausible-credentials
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "apiKey": "YOUR_PLAUSIBLE_API_KEY"
    }